/* Grundlegendes Styling */
body {
    font-family: 'Arial', sans-serif;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
/* Spielertitel */
h2 {
    margin-bottom: 20px;
    text-align: center;
}

.Spielfeld {
    padding: 0 50px 50px 50px;
}

/* Spielfeld-Styling */
table {
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-collapse: collapse;
    margin: 0 auto;
}

td, th {
    min-width: 40px;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.2s;
    box-sizing: border-box;

}

/* Zeilen- und Spaltenbezeichnungen */
td:first-child, th {
    font-weight: bold;
}

tr:first-child td {
    font-weight: bold;
}

/* Basis-Styling für die Zellen */
td {
    padding: 0;
    width: 40px;
    height: 40px;
    min-width: 40px;
    position: relative;
}

/* Button-Styling */
td button {
    width: 40px;
    height: 40px;
    cursor: pointer;;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    box-sizing: border-box;
}


#gamerules {
    width: 750px;
    margin: 100px auto;
}

#startbutton {
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    display: flex;
    margin: 25px auto;
}

#playerName1Input{
    margin: 10px auto;
    width: 250px;
}

#playerName2Input{
    margin: 10px auto;
    width: 250px;
}

@media (max-width: 768px) {
    .Spielfeld {
        display: block;
        width: 100%;
        margin-bottom: 500px;
    }

    .Spielfeld table {
        margin: 0 auto;
    }
}
/*!* Hover-Effekt *!
td button:hover {
    background-color: #dcdde1;
    transform: scale(0.90);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}*/

/* Aktiver Zustand */
/*td button:active {
    background-color: #c8c9cc;
    transform: scale(0.95);
}

!* Fokus-Styling *!
td button:focus {
    outline: none;
    border: 2px solid #70a1ff;
    box-shadow: 0 0 0 2px rgba(112, 161, 255, 0.3);
}*/

/* Zusätzliche Effekte für Treffer/Verfehlt */
/*
.hit {
    background-color: #ff5252 !important;
    color: white;
}

.miss {
    background-color: #90caf9 !important;
}*/
