@(title: String)(size: Int)(board: Vector[String])

<!DOCTYPE html>
<html lang="en">
  <head>
    @* Here's where we render the page title `String`. *@
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

  </head>
  <body>

    <h1>Battleship Grid</h1>

    <table>
      <tr>
        <td>
            <!-- Spielfeld 1 -->
          <h2>Player 1</h2>
          <table border="2">
            <tr>
              <td></td>
              @for(i <- 0 until size) {
                <td>@(('A'.toInt + i).toChar)</td>
              }
            </tr>
            @for(row <- 1 to size) {
              <tr>
                <td>@row</td>
                @for(col <- 0 until size) {
                  <td><button>@board((row - 1) * size + col)</button></td>
                }
              </tr>
            }
          </table>
        </td>

          <!-- Spielfeld 2 -->
        <td style="padding-left: 50px;">
          <h2>Player 2</h2>
          <table border="2">
            <tr>
              <td></td>
              @for(i <- 0 until size) {
                <td>@(('A'.toInt + i).toChar)</td>
              }
            </tr>
            @for(row <- 1 to size) {
              <tr>
                <td>@row</td>
                @for(col <- 0 until size) {
                  <td><button>@board((row - 1) * size + col)</button></td>
                }
              </tr>
            }
          </table>
        </td>
      </tr>
    </table>

  </body>
</html>
