@(title: String)(size: Int)(board: Vector[String])(pl1_x_shots: Vector[Int], pl1_y_shots: Vector[Int], pl2_x_shots: Vector[Int], pl2_y_shots: Vector[Int])

<!DOCTYPE html>
<html lang="en">
  <head>
    @* Here's where we render the page title `String`. *@
    <title>@title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap&#64;5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">


  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Battelship Game</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" href="#" data-function="startNewGame">New Game</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                Options
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#" data-function="saveGame">Save Game</a>
                <a class="dropdown-item" href="#" data-function="loadGame">Load Game</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" data-function="exitGame">Exit</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <h1>Battleship Grid</h1>

    <table>
      <tr>
        <td class="Spielfeld">
            <!-- Spielfeld 1 -->
          <h2 class="text-primary">Player 1</h2>
          <table class="innerTable">
            <tr>
              <td></td>
              @for(i <- 0 until size) {
                <td>@(('A'.toInt + i).toChar)</td>
              }
            </tr>
            @for(row <- 1 to size) {
              <tr>
                <td>@row</td>
                @for(col <- 0 until size) {
                  @* Prüfen, ob die aktuelle Position in den Schusskoordinaten von Player 1 enthalten ist *@
                  <td>
                    <button class="btn btn-outline-primary" onclick="addShot(1, @col, @(row - 1))">
                    @if(pl1_x_shots.zip(pl1_y_shots).contains((col, row - 1))) {
                      X
                    } else {
                      @board((row - 1) * size + col)
                    }
                    </button>
                  </td>
                }
              </tr>
            }
          </table>
        </td>

        <td class="Spielfeld">
            <!-- Spielfeld 2 -->
          <h2 class="text-secondary">Player 2</h2>
          <table class="innerTable">
            <tr>
              <td></td>
              @for(i <- 0 until size) {
                <td>@(('A'.toInt + i).toChar)</td>
              }
            </tr>
            @for(row <- 1 to size) {
              <tr>
                <td>@row</td>
                @for(col <- 0 until size) {
                  @* Prüfen, ob die aktuelle Position in den Schusskoordinaten von Player 2 enthalten ist *@
                  <td>
                    <button class="btn btn-outline-secondary" onclick="addShot(2, @col, @(row - 1))">
                    @if(pl2_x_shots.zip(pl2_y_shots).contains((col, row - 1))) {
                      X
                    } else {
                      @board((row - 1) * size + col)
                    }
                    </button>
                  </td>
                }
              </tr>
            }
          </table>
        </td>
      </tr>
    </table>

@*    <h3>Shot Vectors</h3>
    <p><strong>Player 1 X Shots:</strong> @pl1_x_shots.mkString(", ")</p>
    <p><strong>Player 1 Y Shots:</strong> @pl1_y_shots.mkString(", ")</p>
    <p><strong>Player 2 X Shots:</strong> @pl2_x_shots.mkString(", ")</p>
    <p><strong>Player 2 Y Shots:</strong> @pl2_y_shots.mkString(", ")</p>*@
    <script src="https://cdn.jsdelivr.net/npm/bootstrap&#64;5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/field.js")" type="text/javascript"></script>

@*    <script type="text/javascript">*@
@*            let shotButton = document.getElementById('shotButton');*@

@*            document.addEventListener("DOMContentLoaded", function () {*@

@*              shotButton.addEventListener('click', function () {*@
@*                resetGame();*@
@*              });*@
@*            });*@
@*    </script>*@

  </body>

</html>
