@(title: String)(size: Int)(board: Vector[String])

<!DOCTYPE html>
<html lang="en">
  <head>
    @* Here's where we render the page title `String`. *@
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

  </head>
  <body>

    <h1>Battleship Shipfield</h1>

    <table>
      <tr>
@*        <td>*@
@*            <!-- Spielfeld 1 -->*@
@*          <h2>Player 1</h2>*@
@*          <table border="2" id="player1-board">*@
@*            <tr>*@
@*              <td></td>*@
@*              @for(i <- 0 until size) {*@
@*                <td>@(('A'.toInt + i).toChar)</td>*@
@*              }*@
@*            </tr>*@
@*            @for(row <- 1 to size) {*@
@*              <tr>*@
@*                <td>@row</td>*@
@*                @for(col <- 0 until size) {*@
@*                  <td>*@
@*                    <button id="shipButton">*@
@*                    @board((row - 1) * size + col)*@
@*                    </button>*@
@*                  </td>*@
@*                }*@
@*              </tr>*@
@*            }*@
@*          </table>*@
@*        </td>*@

          <!-- Spielfeld 2 -->
        <td style="padding-left: 50px;">
          <h2>Player 2</h2>
          <table border="2" id="player2-board">
            <tr>
              <td></td>
              @for(i <- 0 until size) {
                <td>@(('A'.toInt + i).toChar)</td>
              }
            </tr>
            @for(row <- 1 to size) {
              <tr>
                <td>@row</td>
                @for(col <- 0 until size) {
                  <td>
                    <button id="shipButton">
                    @board((row - 1) * size + col)
                    </button>
                  </td>
                }
              </tr>
            }
          </table>
        </td>
      </tr>
    </table>

    <script type="text/javascript">
            let shipButton = document.getElementById('shipButton');

            let input1 = "";
            let input2 = "";


            document.addEventListener("DOMContentLoaded", function () {

              shipButton.addEventListener('click', function () {

                if (input1 === "" && input2 === "") {
                  input1 = shipButton.textContent;
                  shipButton.textContent = '🚢';
                } else {
                  input2 = shipButton.textContent;
                  shipButton.textContent = '🚢';
                  addShip(2, input1, input2);
                  input1 = "";
                  input2 = "";
                }

              });
            });
    </script>


    <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>

  </body>
</html>
