@*
* This template is called from the `index` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `String` for the title of the page and an `Html`
* object to insert into the body of the page.
*@
@(title: String)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

    </head>
    <body>
        <h1>Schiffe versenken - Spielregeln</h1>
        <ul>
            <li>Zwei Spieler haben jeweils ein Spielfeld mit einer bestimmten Anzahl an Kästchen.</li>
            <li>Jeder Spieler platziert seine Schiffe verdeckt auf dem eigenen Spielfeld.</li>
            <li>Die Schiffe variieren in der Größe und nehmen mehrere Felder ein (1-5 Felder).</li>
            <li>Die Spieler schießen abwechselnd auf das Spielfeld des Gegners</li>
            <li>Trifft ein Schuss ein gegnerisches Schiff, wird dies als Treffer markiert.</li>
            <li>Das Ziel des Spiels ist es, alle gegnerischen Schiffe vollständig zu versenken.</li>
        </ul>
        <table>
            <tr>
                <td><a href="http://localhost:9000/game/GridShipToString">Spielen</a></td>
            </tr>
        </table>
    </body>
</html>
